/*************************************************
 *  Navigation bar
 **************************************************/

.navbar {
  height: 70px;
  background: $sta-menu-primary;
  box-shadow: none;
  font-size: 18px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  // Remove Bootstrap's navbar v-padding and assign v-padding to logo separately to maximise logo size.
  // Otherwise, Bootstrap's navbar v-padding causes issue with logo fitting within fixed 50px height bar in md-lg sizes.
  padding: 0 1rem;
}